<section class="columns is-info" style="padding-top: 20px;">
    <div class="column">
       <h1 class="title">Edit Details: {{student.first_name}} {{student.last_name}}
            <div class="is-pulled-right">
                <a href="/" class="button is-link"><i class="fa fa-list"></i> List Student</a>
                 <a href="/student/add" class="button is-primary"><i class="fa fa-user-plus"></i> Add Student</a>
        
            </div>
        </h1>
      
    </div>
</section>
<div class="is-clearfix"></div>

<form method="post">
<section class="columns is-info" style="padding: 10px;">
    <div class="column is-half">    
    <table class="table is-fullwidth is-striped">
        <thead>
             <th colspan="2"><p class="title has-text-centered"></p></th>
        </thead>
        <tr>
            <th class="has-text-right" width="30%">
                First Name
            </th>
            <td><input class="input" type="text" name="first_name" value="{{student.first_name}}" required> </td>
        </tr>
        <tr>
            <th class="has-text-right" width="30%">
                Last Name
            </th>
            <td><input class="input" type="text" name="last_name" value="{{student.last_name}}" required> </td>
        </tr>
        <tr>
            <th class="has-text-right" width="30%">
                Gender
            </th>
            <td>
                <select name="gender"  class="control">
                     {{#if student.gender}}
                     <option value="{{student.gender}}" selected>{{student.gender}}</option>
                     {{/if}}
                     <option value="">Select Gender</option>
                   <option value="Male">Male</option>
                                <option value="Female">Female</option>
                </select> 
                
            </td>
        </tr>
        <tr>
            <th class="has-text-right" width="30%">
                Date of Birth
            </th>
            <td><input class="input" type="date" name="dob" value="{{student.dob}}"> </td>
        </tr>
        <tr>
            <th class="has-text-right">
                Email
            </th>
            <td><input class="input" type="text" name="email" placeholder="Email" value="{{student.email}}"> </td>
        </tr>
        <tr>
            <th class="has-text-right">
                phone
            </th>
            <td><input class="input" type="text" name="phone" placeholder="Phone" value="{{student.phone}}"> </td>
        </tr>
        <tr>
            <th class="has-text-right">
                State
            </th>
            <td>
                <select name="state" class="control">
                     {{#if student.state}}
                     <option value="{{student.state}}" selected>{{student.state}}</option>
                     {{/if}}
                     <option value="">Select State</option>
                    {{#each states}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <th class="has-text-right">
                Marital Status
            </th>
            <td>
                <select name="marital_status"  class="control">
                     {{#if student.marital_status}}
                     <option value="{{student.marital_status}}" selected>{{student.marital_status}}</option>
                     {{/if}}
                     <option value="">Select Status</option>
                   <option value="Single">Single</option>
                    <option value="Married">Married</option>
                </select> 
            </td>
        </tr>
        <tr>
            <th class="has-text-right">
                Institution
            </th>
            <td>
                <select name="institution"  class="control">
                     {{#if student.institution}}
                     <option value="{{student.institution}}" selected>{{student.institution}}</option>
                     {{/if}}
                     <option value="">Select Institution</option>
                    {{#each institutions}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <th class="has-text-right">
                Department
            </th>
            <td> 
               

                 <select name="department"  class="control">
                     {{#if student.department}}
                     <option value="{{student.department}}" selected>{{student.department}}</option>
                     {{/if}}
                     <option value="">Select Department</option>
                    {{#each departments}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
              
            </td>
        </tr>
    </table>
  
                    
                    <div class="has-text-centered">
                        <button type="submit" class="button is-primary"><i class="fa fa-save"></i>Save & Update</button>
                
                    </div>
                
                             
            
                
    </div>

</section>
    </form>