<section class="columns is-info" style="padding-top: 20px;">
    <div class="column">
        <h1 class="title">
            View Details: {{student.first_name}} {{student.last_name}}
            <a class="button is-warning" href="/student/edit/{{student._id}}">
                <i class="fa fa-pencil-square-o">
                </i>
                Edit
            </a>
            <div class="is-pulled-right">
                <a class="button is-link" href="/">
                    <i class="fa fa-list">
                    </i>
                    List Student
                </a>
                <a class="button is-primary" href="/student/add">
                    <i class="fa fa-user-plus">
                    </i>
                    Add Student
                </a>
            </div>
        </h1>
    </div>
</section>
<div class="is-clearfix">
</div>
<section class="columns is-info">
    <div class="column is-half">
        <table class="table is-fullwidth is-striped">
            <thead>
                <th colspan="2">
                    <p class="title has-text-centered">
                    </p>
                </th>
            </thead>
            <tr>
                <th class="has-text-right" width="30%">
                    First Name
                </th>
                <td>
                    {{student.first_name}}
                </td>
            </tr>
            <tr>
                <th class="has-text-right" width="30%">
                    Last Name
                </th>
                <td>
                    {{student.last_name}}
                </td>
            </tr>
            <tr>
                <th class="has-text-right" width="30%">
                    Gender
                </th>
                <td>
                    {{student.gender}}
                </td>
            </tr>
            <tr>
                <th class="has-text-right" width="30%">
                    Date of Birth
                </th>
                <td>
                    {{student.dob}}
                </td>
            </tr>
            <tr>
                <th class="has-text-right">
                    Email
                </th>
                <td>
                    {{student.email}}
                </td>
            </tr>
            <tr>
                <th class="has-text-right">
                    phone
                </th>
                <td>
                    {{student.phone}}
                </td>
            </tr>
            <tr>
                <th class="has-text-right">
                    State
                </th>
                <td>
                    {{student.state}}
                </td>
            </tr>
            <tr>
                <th class="has-text-right">
                    Marital Status
                </th>
                <td>
                    {{student.marital_status}}
                </td>
            </tr>
            <tr>
                <th class="has-text-right">
                    Institution
                </th>
                <td>
                    {{student.institution}}
                </td>
            </tr>
            <tr>
                <th class="has-text-right">
                    Department
                </th>
                <td>
                    {{student.department}}
                </td>
            </tr>
            <tr>
                <td class="has-text-right" colspan="2">
                    <a class="button is-danger" href="/student/delete/{{student._id}}">
                        <i class="fa fa-trash">
                        </i>
                        Delete
                    </a>
                </td>
            </tr>
        </table>
    </div>
</section>